@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
 background: #000;
 font-family: "Open Sans",  Impact;
}

a{
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 15px;
}



