html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1;
  font-size: 16px;
  height: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a, a:hover {
  text-decoration: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'RalewayRegular';
  src: url("../../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../../fonts/RalewayRegular/RalewayRegular.eot") format("embedded-opentype"), url("../../fonts/RalewayRegular/RalewayRegular.woff2") format("woff2"), url("../../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype"), url("../../fonts/RalewayRegular/RalewayRegular.svg#RalewayRegular") format("svg"); }

@font-face {
  font-family: 'RalewayMedium';
  src: url("../../fonts/RalewayMedium/RalewayMedium.eot");
  src: url("../../fonts/RalewayMedium/RalewayMedium.eot") format("embedded-opentype"), url("../../fonts/RalewayMedium/RalewayMedium.woff2") format("woff2"), url("../../fonts/RalewayMedium/RalewayMedium.woff") format("woff"), url("../../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype"), url("../../fonts/RalewayMedium/RalewayMedium.svg#RalewayMedium") format("svg"); }

@font-face {
  font-family: 'RalewaySemiBold';
  src: url("../../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../../fonts/RalewaySemiBold/RalewaySemiBold.eot") format("embedded-opentype"), url("../../fonts/RalewaySemiBold/RalewaySemiBold.woff2") format("woff2"), url("../../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype"), url("../../fonts/RalewaySemiBold/RalewaySemiBold.svg#RalewaySemiBold") format("svg"); }

@font-face {
  font-family: 'RalewayExtraBold';
  src: url("../../fonts/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("../../fonts/RalewayExtraBold/RalewayExtraBold.eot") format("embedded-opentype"), url("../../fonts/RalewayExtraBold/RalewayExtraBold.woff2") format("woff2"), url("../../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"), url("../../fonts/RalewayExtraBold/RalewayExtraBold.svg#RalewayExtraBold") format("svg"); }

@font-face {
  font-family: 'MontserratLight';
  src: url("../../fonts/MontserratLight/MontserratLight.eot");
  src: url("../../fonts/MontserratLight/MontserratLight.eot") format("embedded-opentype"), url("../../fonts/MontserratLight/MontserratLight.woff2") format("woff2"), url("../../fonts/MontserratLight/MontserratLight.woff") format("woff"), url("../../fonts/MontserratLight/MontserratLight.ttf") format("truetype"), url("../../fonts/MontserratLight/MontserratLight.svg#MontserratLight") format("svg"); }

@font-face {
  font-family: 'MontserratRegular';
  src: url("../../fonts/MontserratRegular/MontserratRegular.eot");
  src: url("../../fonts/MontserratRegular/MontserratRegular.eot") format("embedded-opentype"), url("../../fonts/MontserratRegular/MontserratRegular.woff2") format("woff2"), url("../../fonts/MontserratRegular/MontserratRegular.woff") format("woff"), url("../../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype"), url("../../fonts/MontserratRegular/MontserratRegular.svg#MontserratRegular") format("svg"); }

body {
  height: 100%;
  font-family: 'MontserratLight';
  color: #fff; }

h1 {
  font-family: 'RalewayExtraBold'; }

h2 {
  font-family: 'RalewaySemiBold'; }

h3 {
  font-family: 'RalewayMedium'; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 30px;
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  z-index: 9999; }

a.but {
  display: inline-block;
  font-family: 'RalewayExtraBold';
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 35px;
  background: #998675;
  -webkit-box-shadow: 0px 3px 0px 0px #736357;
          box-shadow: 0px 3px 0px 0px #736357;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  a.but:hover {
    background: #736357; }

.heading {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .heading h2 {
    margin-bottom: 25px;
    font-size: 1.875rem;
    color: #555555; }
  .heading p {
    color: #8C8C8C;
    line-height: 28px; }

.header {
  position: relative;
  height: 100vh; }
  .header ul.header-slider li {
    height: 100vh; }
    .header ul.header-slider li img {
      opacity: 0.3; }
  .header .bx-wrapper {
    margin: 0 auto; }
    .header .bx-wrapper .bx-viewport {
      border: 0;
      left: 0;
      background: #000; }
    .header .bx-wrapper .bx-pager {
      bottom: 30px; }
    .header .bx-wrapper .bx-controls-direction a {
      width: 40px;
      height: 73px; }
    .header .bx-wrapper .bx-prev {
      background: url(../img/left.png);
      left: 9.5%; }
      .header .bx-wrapper .bx-prev:hover {
        background: url(../img/right.png);
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
    .header .bx-wrapper .bx-next {
      background: url(../img/left.png);
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      right: 9.5%; }
      .header .bx-wrapper .bx-next:hover {
        background: url(../img/right.png);
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
    .header .bx-wrapper .bx-pager.bx-default-pager a {
      width: 11px;
      height: 11px;
      background: #ECECEC;
      opacity: 0.5; }
      .header .bx-wrapper .bx-pager.bx-default-pager a:hover {
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 2px #d3c1ad;
                box-shadow: 0px 0px 0px 2px #d3c1ad; }
    .header .bx-wrapper .bx-pager.bx-default-pager a.active {
      background: transparent;
      -webkit-box-shadow: 0px 0px 0px 2px #d3c1ad;
              box-shadow: 0px 0px 0px 2px #d3c1ad; }
  .header-top {
    top: 40px; }
  .header-middle {
    top: 10px; }
  .header-top, .header-middle {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    z-index: 333; }
    .header-top-logo, .header-middle-logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-top-logo span, .header-middle-logo span {
        font-family: 'RalewayRegular';
        font-size: 2.125rem; }
    .header-top-nav, .header-middle-nav {
      margin-left: 176px;
      font-size: 0.875rem; }
      .header-top-nav ul li, .header-middle-nav ul li {
        display: inline-block;
        margin-right: 30px; }
        .header-top-nav ul li a, .header-middle-nav ul li a {
          color: #fff; }
          .header-top-nav ul li a:hover, .header-middle-nav ul li a:hover {
            color: #C7B299; }

.header-top-right {
  margin-left: 30px; }
  .header-top-right a {
    margin-left: 15px;
    font-size: 0.875rem;
    color: #fff; }
    .header-top-right a:hover {
      color: #C7B299; }

.header-middle {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 385px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  .header-middle h1 {
    font-size: 3.25rem;
    margin-bottom: 25px; }
  .header-middle h3 {
    font-size: 2.25rem;
    margin-bottom: 10px; }
  .header-middle p {
    font-size: 1rem;
    line-height: 24px; }
  .header-middle a.but {
    margin-top: 45px; }

.services {
  padding: 70px 0; }
  .services .box {
    height: 300px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 270px;
        -ms-flex: 1 1 270px;
            flex: 1 1 270px;
    text-align: center;
    padding: 10px 0; }
    .services .box span {
      display: inline-block;
      background: url(../img/services.png);
      width: 53px;
      height: 48px; }
    .services .box span.box-a {
      background-position-x: 0; }
    .services .box span.box-b {
      background-position-x: -53px; }
    .services .box span.box-c {
      background-position-x: -106px; }
    .services .box span.box-d {
      background-position-x: -159px; }
    .services .box h2 {
      font-size: 1.375rem;
      color: #555555;
      margin-top: 25px;
      margin-bottom: 15px; }
    .services .box p {
      font-size: 0.875rem;
      color: #8C8C8C;
      line-height: 24px;
      margin-bottom: 30px; }
    .services .box hr {
      width: 70px;
      height: 3px;
      background: #C7B299;
      opacity: 0.3;
      margin-left: -webkit-calc(50% - 35px);
      margin-left: calc(50% - 35px); }
    .services .box:hover h2 {
      color: #C7B299; }
    .services .box:hover hr {
      opacity: 1; }
    .services .box:hover span {
      background-position-y: 49px; }
    .services .box:hover span.box-a {
      background-position-y: 48px; }

section.ideas {
  background: #FBFAF8;
  padding-top: 80px; }
  section.ideas .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.ideas-slider {
  height: 100%;
  position: relative;
  margin-top: 35px; }

.roundabout-holder {
  width: 54em;
  height: 485px;
  margin: 0 auto; }

.roundabout-moveable-item {
  top: auto !important;
  bottom: 0 !important;
  width: 770px;
  height: 482px;
  overflow: hidden;
  cursor: pointer; }

.roundabout-moveable-item > img {
  width: 100%;
  height: 100%; }

.section-4 {
  padding: 45px 0;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4d3427));
  background: -webkit-linear-gradient(left, #211b19 0%, #4d3427 100%);
  background: linear-gradient(to right, #211b19 0%, #4d3427 100%); }
  .section-4 .container {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .section-4 h4 {
    font-family: 'RalewayRegular';
    font-size: 1.75rem;
    margin-bottom: 10px; }
    .section-4 h4 span {
      color: #C7B299; }
  .section-4 p {
    color: #615855;
    font-size: 1.125rem; }

.project {
  padding-top: 80px; }
  .project .block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 35px 0; }
    .project .block .choice {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .project .block .choice a {
        display: inline-block;
        font-size: 0.875rem;
        color: #8C8C8C;
        margin-right: 10px;
        padding: 8px 15px;
        border: 1px solid #EBEBEB;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
        .project .block .choice a:hover {
          color: #fff;
          background: #998675; }
