@import 'base/reset';
@import 'fonts/fonts';

body {
    height: 100%;
    font-family: 'MontserratLight';
    color: #fff;
}

h1 {
    font-family: 'RalewayExtraBold';
}

h2 {
    font-family: 'RalewaySemiBold';
}

h3 {
    font-family: 'RalewayMedium';
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

$main-color: #4E4B69;

.container {
	padding: 0 30px;
    position: relative;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    z-index: 9999;
}

.wrap{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.logo{
	display: flex;
	align-items: center;
	span {
	    font-family: 'RalewayRegular';
		color: #fff!important;
	    font-size: 2.125rem;
	}
}

.nav-toggle{
	display: none;
	position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
    span{
    	display: block;
    	position: absolute;
    	top: 19px;
    	left: 8px;
    	right: 8px;
    	height: 2px;
    	background: white;
    	&:after,&:before{
    		position: absolute;
    		display: block;
    		left: 0;
    		width: 100%;
    		height: 2px;
    		background: white;
    		content: "";
    	}
    	&:after{
    		bottom: -10px;
    	}
    	&:before{
    		top: -10px;
    	}
    }
}

a.but{
	display: inline-block;
	font-family: 'RalewayExtraBold';
	font-size: 0.875rem;
	color: #fff;
	text-transform: uppercase;
	padding: 20px 35px;
	background: #998675;
	box-shadow: 0px 3px 0px 0px rgba(115,99,87,1);
	border-radius: 3px;
	&:hover{
		background: rgba(115,99,87,1);
	}
}

.heading{
	width: 100%;
	margin: 80px auto 35px;
	text-align: center;
	h2{
		margin-bottom: 25px;
		font-size: 1.875rem;
		color: #555555;
	}
	p{
		color: #8C8C8C;
		line-height: 28px;
	}
}

/* header */

.header {
    position: relative;
    height: 100vh;

    ul.header-slider {
        li {
            height: 100vh;
            img {
                opacity: 0.3;
            }
        }
    }
    .bx-wrapper {
        margin: 0 auto;
        .bx-viewport {
            border: 0;
            left: 0;
            background: #000;
        }
        .bx-pager {
            bottom: 30px;
        }
        .bx-controls-direction a {
            width: 40px;
            height: 73px;
        }
        .bx-prev {
            background: url(../img/left.png);
            left: 9.5%;
            &:hover {
                background: url(../img/right.png);
                transform: rotate(180deg);
            }
        }
        .bx-next {
            background: url(../img/left.png);
            transform: rotate(180deg);
            right: 9.5%;
            &:hover {
                background: url(../img/right.png);
                transform: rotate(0deg);
            }
        }
        .bx-pager.bx-default-pager a {
            width: 11px;
            height: 11px;
            background: #ECECEC;
            opacity: 0.5;
            &:hover {
                background: transparent;
                box-shadow: 0px 0px 0px 2px rgba(211, 193, 173, 1);
            }
        }
        .bx-pager.bx-default-pager a.active {
            background: transparent;
            box-shadow: 0px 0px 0px 2px rgba(211, 193, 173, 1);
        }
    }
}

.header-top{
	top: 40px;
	align-items: center;
	justify-content: space-between;
}

.header-top-nav{
	font-size: 0.875rem;
	ul{
		display: inline-block;
		li{
			display: inline-block;
			margin-right: 30px;
			a{
				color: #fff;
				&:hover{
					color: #c7b299;
				}
			}
		}
	}
}

.header-middle{
	top: 10px;
	align-items: center;
}

.header-top, .header-middle{
	position: absolute;
	display: flex;
	width: 100%;
}


.header-top-right{
	display: inline-block;
	a{
		margin-left: 15px;
		font-size: 0.875rem;
		color: #fff;
		&:hover{
			color: #C7B299;
		}
	} 
}

.header-middle{
	width: 100%;
	display: flex;
	top: 385px;
	flex-direction: column;
	text-align: center;
	h1{
		font-size: 3.25rem;
		margin-bottom: 25px;
	}
	h3{
		font-size: 2.25rem;
		margin-bottom: 10px;
	}
	p{
		font-size: 1rem;
		line-height: 24px;
	}
	a.but{
		margin-top: 45px;
	}
}

@media(min-width:321px) and (max-width:480px) {

}

@media(min-width:481px) and (max-width:768px) {
	.container{
		padding: 0;
	}
	.header{
		.header-top-nav{
			display: none;
		}
	}
	
	.header-top{
		.logo{
			order: 1;
			span{
				display: none;
			}
		}
		.nav-toggle{
			display: inline-block;
			order: 0;
		}
		.header-top-right{
			margin-right: 15px;
			order: 2;
			.fa-id-card-o{
				display: none;
			}
		}
		.active{
			display: inline-block;
			ul{
				position: absolute;
				left: 15px;
				top: 40px;
				li{
					display: block;
					margin-top: 5px;
				}
			}
		}
	}

	.header-top-nav{
		display: none;
	}

	.bx-controls-direction{
		display: none;
	}

	.header-middle{
		top:200px;
		h3{
			font-size: 1.25rem;
		}
		h1{
			font-size: 2.25rem;
			margin-bottom: 12px;
		}
		p{
			font-size: 0.8rem;
		}
	}
}

@media(min-width:769px) and (max-width:992px) {
	.header-top{
		.logo{
			span{
				display: none;
			}
		}
		.header-top-nav, .header-middle-nav{
			font-size: 0.75rem;
		}
		.header-top-nav ul li, .header-middle-nav ul li{
			margin-right: 15px;
		}
	}

	.bx-controls-direction{
		display: none;
	}
}

@media(min-width:993px) and (max-width:1200px) {
	.header-top-nav{
		margin-left: 35px;
	}
	.header-top-nav ul li, 
	.header-middle-nav ul li{
		margin-right: 20px;
	}
}

/*  services  */

.services{
	padding:70px 0;
	.box{
		height: 300px;
		flex: 1 1 270px;
		text-align: center;
		padding: 10px 0;

		span{
			display: inline-block;
			background: url(../img/services.png);
			width: 53px;
			height: 48px;
		}
		span.box-a{
			background-position-x: 0;
		}
		span.box-b{
			background-position-x: -53px ;
		}
		span.box-c{
			background-position-x: -106px;
		}
		span.box-d{
			background-position-x: -159px;
		}
		h2{
			font-size: 1.375rem;
			color: #555555;
			margin-top: 25px;
			margin-bottom: 15px;
		}
		p{
			font-size: 0.875rem;
			color: #8C8C8C;
			line-height: 24px;
			margin-bottom: 30px;
		}
		hr{
			width: 70px;
			height: 3px;
			background: #C7B299;
			opacity: 0.3;
			margin-left: calc(50% - 35px);
		}
		&:hover{
			h2{
				color: #C7B299;
			}
			hr{
				opacity: 1;
			}
			span{
				background-position-y: 49px;
			}
			span.box-a{
				background-position-y: 48px;
			}
		}
	}
}

@media(min-width:321px) and (max-width:480px){

}

/*  ideas  */

section.ideas{
	display: none;
	background: #FBFAF8;
	.container{
		flex-direction: column;
	}
}

.ideas-slider {
	height: 100%;
	position: relative;
	margin-top: 35px;
}
.roundabout-holder {
	width: 54em;
	height: 485px;
	margin: 0 auto;
}
.roundabout-moveable-item {
	top:auto!important;
	bottom: 0 !important;
	width: 770px;
	height: 482px;
	overflow: hidden;
	cursor: pointer;
}

.roundabout-moveable-item > img{
	width: 100%;
	height: 100%;
}

.section-4{
	padding: 45px 0;
	background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(77,52,39,1) 100%);
	.wrap{
		align-items: center;
		justify-content: space-between;
	}
	h4{
		font-family: 'RalewayRegular'; 
		font-size: 	1.75rem;
		margin-bottom: 10px;
		span{
			color: #C7B299;
		}
	}
	p{
		color: #615855;
		font-size: 1.125rem;
	}
}

@media(min-width:321px) and (max-width:779px) {
	.section-4{
		.wrap{
			text-align: center;
			justify-content: center;
		}
		a{
			margin-top: 15px;
		}
	}
}

/*  project  */

.project{
	.block{
		text-align: center;
		width: 100%;
		margin: 35px 0;
		.choice{
			display: flex;
			width: 100%;
			justify-content: center;
			flex-wrap: wrap;
			a{
				display: inline-block;
				font-size: 0.875rem;
				color: #8C8C8C;
				margin-right: 10px;
				padding: 8px 15px;
				border: 1px solid #EBEBEB;
				border-radius: 5px;
				&:hover{
					color: #fff;
					background: #998675;
				}
			}
		}
		.wrap{
			justify-content: space-between;
			margin-top: 40px;
			.project_block{
				width: 370px;
				.bg{
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 100%;
					.hover{
						display: none;
						position: absolute;
						text-align: center;
						z-index: 999;
						a{
							margin-right: 5px;
							font-size: 1.5rem;
							color: #fff;
							&:hover{
								color: #C7B299;
							}
						}
					}
					img{
						width: 100%;
						height: 237px;
					}
				}
				.bottom{
					position: relative;
					background: #FBFAF8;
					padding: 30px 25px;
					margin-bottom: 30px;
					margin-top: -3px;
					text-align: left;
					h3{
						color: #C7B299;
					}
					span{
						display: inline-block;
						margin-top: 10px;
						font-size: 0.875rem;
						color: #D1D1D1;
					}
					&:after{
						content: '';
						position: absolute;
						border: 15px solid transparent;
						border-bottom: 10px solid #FBFAF8;
						top: -25px;
						left: 20px;
					}
				}
				&:hover{
					.bg{
						background: #000;
						.hover{
							display: block;
						}
						img{
							opacity: 0.4;
						}
					}
					.bottom{
						background: #362F2D;
						h3{
							color: #fff;
						}
						span{
							color: #C7B299;
						}
						&:after{
							border-bottom:10px solid  #362F2D;
						}
					}
				}			
			}
		}
		.but{
			margin-top: 10px;
		}
	}
}

@media(min-width:321px) and (max-width:1186px) {
	.choice{
		a{
			margin-top: 5px;
		}
	}
}

@media(min-width:321px) and (max-width:1186px) {
	.project .block .wrap{
		justify-content: space-around; 
	}
}

/*  video  */

section.video{
	position: relative;
	width: 100%;
	height: 705px;
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/video_bg.jpg) no-repeat;
	background-size: 100% 157%;
	.wrap{
		height: 705px;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.play{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background: rgba(0,0,0,0.2);
			padding: 15px;
			margin-bottom: 40px;
			a{
				display: inline-block;
				width: 100%;
				height: 100%;
				background: url(../img/play.png) no-repeat;
			}
		}
		h3{
			font-size: 1.875rem;
			margin-bottom: 20px;
		}
		p{
			line-height: 28px;
			margin-bottom: 40px;
		}
		span{
			font-size: 0.875rem;
			color:#C7B299;
		}
	}
}

@media(min-width:321px) and (max-width:1186px) {
	section.video{
		height: 450px;
		.wrap{
			text-align: center;
			height: 450px;
		}
	}	
}


/*  section-7  */

section.section-7{
	background: #FBFAF8;
	width: 100%;
	.container{
		display: table;
		background: url(../img/li_bg.png) bottom left 80px no-repeat;
	}
	.block_text{
		margin-left: 500px;
		margin-top: 195px;
		margin-bottom: 200px;
		color: #8C8C8C;
		h2{
			font-size: 1.875rem;
			color: #555555;
			margin-bottom: 35px;
		}
		p{
			line-height: 28px;
			margin-bottom: 40px;
		}
		ul{
			margin-left: 50px;
			li{
				background: url(../img/list.png) left no-repeat;
				line-height: 32px;
				padding-left: 50px;
			}
		}
	}
}

@media(min-width:780px) and (max-width:1200px) {

	section.section-7{
		font-size: 0.85rem;
		.container{
			background-position-x: 0px; 
		}
		.block_text{
			margin-left: 300px;
			margin-top: 90px;
			margin-bottom: 90px;
		}
	}
}

@media(min-width:321px) and (max-width:779px) {
	section.section-7{
		.container{
			background-image: none;
		}
		.block_text{
			margin: 15px 0;
		}
	}
}


/*  counters  */

section.counters{
	padding: 60px 0;
	background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(77,52,39,1) 100%); 
	.wrap{
		justify-content: center;
	}
	.counter{
		text-align: center;
		width: 170px;
		.icon-count{
			display: inline-block;
			width: 56px;
			height: 44px;
			background: url(../img/counters.png) no-repeat;
			margin-bottom: 25px;
		}
		.coffee{
			background-position-x: -56px; 
		}.blog{
			background-position-x: -112px; 
		}.likes{
			background-position-x: -168px; 
		}.launched{
			background-position-x: -224px; 
		}
		.number{
			font-size: 3rem;
			margin-bottom: 10px;
			opacity: 0;
		}
		.viz{
			opacity: 1;
			transition: 1s;
		}
		span{
			display: inline-block;
			font-size: 0.875rem;
			color: #C7B299;
			margin-bottom: 25px;
			text-transform: uppercase;
		}
		hr{
			width: 30px;
			height: 2px;
			background: #fff;
			margin: 0 auto;
		}
	}
}

/*  posts  */

.posts{

}

.block_posts{
	width: 100%;
	margin-bottom: 70px;
	.film_roll_wrapper{
		min-height: 450px!important;
	}
	.post{
		width: 370px!important;
		border: 1px solid #F8F8F8;
		margin-right: 30px;
		&:last-child{
			margin-right: 0;
		}
		.bg{
			position: relative;
			height: 222px;
			background: #000;
			img{
				width: 100%;
				height: 100%;
			}
			.date{
				width: 50px;
				position: absolute;
				left: 20px;
				top: 20px;
				text-align: center;
				z-index: 9999;
				.day{
					display: block;
					font-size: 	1.5rem;
					padding: 9px 0;
					background: #363636;
					border-radius: 3px 3px 0 0;
				}
				.month{
					display: block;
					font-size: 0.75rem;
					padding: 6px 0;
					background: #252525;
					border-radius: 0 0 3px 3px;
				}
			}
		}
		.post_bottom{
			padding: 30px;
			h3{
				font-size: 1.25rem;
				color: #555555;
				margin-bottom: 15px;
			}
			p{
				font-size: 0.875rem;
				line-height: 22px;
				color: #8C8C8C;
				margin-bottom: 25px;
			}
			a{
				font-size: 0.875rem;
				color: #C7B299;
			}
		}
	}
	.active{
		.bg{
			img{
				opacity: 0.5;
			}
			.date{
				.day{
					background: #C7B299;
				}
				.month{
					background: #A48D72;
				}
			}
		}
		.post_bottom{
			background: #362F2D;
			h3{
				color: #C7B299;
			}
			p{
				color: #fff;
			}
		}
	}
	.film_roll_prev, .film_roll_next {
		position: absolute;
		display: inline-block;
		background: url(../img/arrow.png) no-repeat;
		top: auto;
		left: calc(50% - 26px);
		bottom: 0;
		font-size: 0;
		width: 22px;
		height: 22px;
		border-radius: 23px;
	 }
	 .film_roll_next{
	 	transform: rotate(180deg);
	 	margin-left: 26px;
	 	&:hover{
	 		opacity: 1;
	 		background-position-x: -22px;
	 		transform: rotate(0);
	 	}
	 }
	 .film_roll_prev{
	 	margin-right: 26px;
		&:hover{
			background-position-x: -22px;
			transform: rotate(180deg);
		}
	 }
}

.film_roll_pager{
	display: none;
}

/*  partners  */

section.partners{
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/bg_partners.jpg) no-repeat;
	background-position-y: -665px;
	padding: 130px 0;
	.wrap{
		justify-content: space-around;
		align-items: center;
	}
}

/*   footer   */

.footer_top{
	background: #191919;
	padding: 70px 0;
	.wrap{
		justify-content: space-between;
	}
}

.footer_top_block{
	width: 270px;
	h3{
		font-weight: bold;
		font-size: 	1.5rem;
		margin: 30px 0 10px 0;
	}
	p{
		color: #555555;
		font-size: 0.875rem;
	}
	span.date,
	span.time{
		font-family: "MontserratLight";
		font-size: 	0.75rem;
		color: #363636;
		line-height: 20px;
	}
}

.footer-top-logo{
	margin-bottom: 25px;
}

.footer_about{
	p{
		line-height: 24px;
		margin-bottom: 30px;
	}
	a{
		font-size: 0.875rem;
		color: #D1D1D1
	}
}

.footer_posts{
	.post{
		margin-top: 20px;
		border-bottom: 1px solid #252525;
		&:last-child{
			border-bottom: none;
		}
		span.date{
			display: block;
			margin-top: 20px;
		}
		p{
			line-height: 20px;
			margin-bottom: 20px;
		}
		&:hover{
			span.date{
				color: #fff;
			}
			p{
				color: #C7B299;
			}
		}
	}
}

.footer_twitter{
	.twitt{
		border-bottom: 1px solid #252525;
		margin-top: 20px;
		&:last-child{
			border-bottom: none;
		}
		p{
			line-height: 20px;
		}
		a{
			color: #00BFF3;
		}
		span.time{
			display: block;
			margin-bottom: 20px;
		}
		&:hover{
			span.time{
				color: #fff;
			}
			p{
				color: #C7B299;
			}
		}
	}
}

.footer_widget{
	.wrap{
		justify-content: space-between;
		img{
			width: 130px;
			height: 100px;
			margin-bottom: 10px; 
		}
	}
}

.footer_bottom{
	background: #111111;
	padding: 40px 0;
	.wrap{
		justify-content: space-between;
		font-size: 	0.8125rem;
		p{
			display: inline-block;
			margin-right: 10px;
			color: #555555;
		}
		span{
			color: #959595;
		}
		a{
			display: inline-block;
			color: #555;
			padding-left: 10px;
			margin-right: 10px;
			border-left: 1px solid #252525;
			&:hover{
				color: #C7B299;
			}
		}
	}
}


@media(min-width:321px) and (max-width:480px) {}

@media(min-width:481px) and (max-width:768px) {}

@media(min-width:769px) and (max-width:992px) {}

@media(min-width:993px) and (max-width:1200px) {}